%% -*- erlang -*-
{cover_enabled, false}.
{deps, [
]}.

{lib_dirs, ["deps"]}.
{erl_opts, [debug_info]}.

{port_specs, [
    {"priv/moon_nif.so", ["c_src/*.c", "c_src/pbc/*.c"]}
]}.

{port_env, [
    {"linux", "CXXFLAGS", "$CXXFLAGS -I/usr/include/ -I/usr/local/include/"},
    {"linux", "LDFLAGS", "$LDFLAGS -L/usr/lib -L/usr/local/lib -lluajit-5.1 -lluasocket"}
]}.
